<div>
    <p-menubar [model]="items">
        <ng-template pTemplate="item" let-item let-root="root">
            <a routerLink="{{ item.routerLink}}" pRipple class="flex align-items-center p-menuitem-link">
                <span class="ml-2">{{ item.label }}</span>
            </a>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex align-items-center gap-0">
                <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
            </div>
        </ng-template>
    </p-menubar>
</div>
<br>
<router-outlet></router-outlet>
