<div class="grid left-50 m-4 ">
    <div class="col-4 shadow-4 text-center border-round">
        <p-image src="../../../assets/foto/001proteineinpolvere.jpg" width="300" [preview]="true" />
    </div>
    <div class="col-8 ">
        <div>
            <p-card header="TITOLO PRODOTTO" [style]="{ width: '800px' , height: '400px'}">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam
                    perferendis esse, cupiditate neque
                    quas!
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-6 mt-8">
                        <p-button label="Preferiti" class="w-7rem" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>



    <div class="grid mt-3">
        <div class="col-12">
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Fonti">
                    <p>
                        Tutte le nostre fonti provengono da PubMed, un sito rinomato per la sua autorevolezza nel campo della ricerca medica e scientifica. In questo modo, ci assicuriamo di fornire solo informazioni affidabili e basate su studi e ricerche verificati, garantendo la massima qualità e attendibilità dei contenuti che condividiamo, in particolare le informazioni riguardanti questo integratore sono presenti al seguente link:

                    </p>
                </p-accordionTab>
            </p-accordion>
        </div>

    </div>
</div>