<br><br>
@if (products) {
<p-carousel 
    [value]="products" 
    [numVisible]="4" 
    [numScroll]="1" 
    [circular]="true"
    [showIndicators]=!isMobile()
    [responsiveOptions]="responsiveOptions" 
    autoplayInterval="3000">
        <ng-template let-product pTemplate="item">
                <div class="border-1 surface-border border-round m-2 p-3 ">
                    <div class="mb-3">
                        <div class="relative mx-auto h-16rem">
                            <img 
                                [src] ="product.img"
                                [alt]="product.tile" 
                                class="w-full border-round h-14rem w-13rem" />
                        </div>
                    </div>
                    <div class="mb-3 font-medium">
                        {{ product.title }}
                    </div>
                    <div class="flex justify-content-center align-items-center">
                        <span>
                            <p-button icon="pi pi-question-circle" class="flex-auto md:flex-initial white-space-nowrap" label="More info" />
                        </span>
                    </div>
                </div>
        </ng-template>
</p-carousel>
}